/*-- scss:defaults --*/


@import url('https://fonts.google.com/share?selection.family=Dancing+Script:wght@400..700');

$theme-lightgreen: #edf7e4;


$body-bg: $theme-lightgreen;

$font-family-cursive: 'Dancing Script', cursive;
$presentation-heading-font: 'Dancing Script', cursive;


